kaggle.json
.env
.ipynb_checkpoints/
__pycache__/
venv
llama3.2_3b
.venv
TOFU_Llamas-3.2-3B/
venv_definetuning
TOFU_Gemma-3-4B-it/
TOFU_Qwen2.5-7B-Instruct/
unlearned_model_Full_TOFU_Llamas-3.2-3B_ENG/
unlearned_model_Full_TOFU_Llamas-3.2-3B_ALL/
KD_forget01_unlearned_model/
unlearned_models/
deepseek_translation_log.txt
unlearned_models_sequences_fixedLR_with_combined/